img {
	border: none;
}
.center {
	text-align: center;
}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}

body {
	padding: 2em;
	background-color: #DDDDDD;
}

table {
	border: void;
	border-spacing: 0px 0px;
}

td {
	text-align: left;
}

.header_pane,.footer_pane {
	padding: 1em;
	background-color: #AAAAFF;
}

.index_pane {
	width: 30%;
}

.banner_pane,.index_pane {
	padding: 1em;
	background-color: #FFFFFF;
}
.content_pane {
	width: 70%;
	padding: 1em;
	background-color: #FFFFFF;
}
