/* widths */

/* hyperlink decorations */

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: none;
}

ul {
	list-style-type: disc;
	margin: 0;
}

img {
	border: none;
}

.center {
	text-align: center;
}

body {
	margin: 0;
	padding: 0;
	background-color: white;
}

table {
	frame: void;
	rules: none;
	border: void;
	border-spacing: 0;
}

td {
	text-align: left;
}

div, div > p {
	margin: 0;
	padding: 0;
}

.header_pane, .footer_pane {
	padding: 1em;
	text-align: center;
	background-color: #AAAAFF;
}

.index_pane {
	width: 30%;
}

.content_pane {
	width: 70%;
}

.banner_pane, .index_pane, .content_pane {
	padding: 1em;
}
